.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: poppins;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0;
}

.card__like-button {
  background-image: url(../images/heart.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
}

@media screen(max-width:627px) {
  .card__image {
    height: 288px;
  }
}
