.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33 0.4) solid;
}

.profile__avatar {
  margin-right: 20px;
  height: 190px;
  width: 190px;
}

.profile__column {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit-btn:hover {
  margin-top: auto;
  color: #fcf5e5;
  background-color: #212121;
  border-radius: 8px;
}

.profile__add-btn:hover {
  margin-left: auto;
  margin-top: 18px;
  margin-right: 32px;
  margin-bottom: 18px;
  gap: 8px;
  color: #fcf5e5;
  background-color: #212121;
  border-radius: 8px;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    max-width: 288px;
  }
  .profile__avatar {
    margin-left: 0;
    height: 80px;
    width: 80px;
    margin-bottom: 12px;
    margin: 12px;
  }

  .profile__name {
    margin-bottom: 6px;
    font-size: 20px;
    max-width: 288px;
  }

  .profile__description {
    margin: 0 0 32px;
    font-size: 16px;
    max-width: 288px;
  }

  .profile__column {
    margin: 0 0 20px;
    text-align: center;
    margin-right: 0;
  }

  .profile__add-btn {
    margin: 0;
    width: 100%;
    height: 52px;
    border-radius: 8px;
  }
}
